.register-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../assets/hd-engineering-wheels-black-background-0wl4jqhniw1ln3z2.jpg") no-repeat center center/cover;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 0;
}


.register-glass {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
  padding: 40px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  color: white;
  text-align: center;
}

.register-glass h2 {
  margin-bottom: 20px;
}

.register-glass input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 14px;
  outline: none;
}

.register-glass input::placeholder {
  color: #e0e0e0;
}

.register-glass button {
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register-glass button:hover {
  background: rgba(255, 255, 255, 0.5);
}

@media (min-width: 1024px) {
  .register-glass {
    padding: 50px;
    max-width: 450px;
  }
}